<!DOCTYPE html>
    <html>
        <head>
            <title>
                Superhero Generator
            </title>
        </head>
        <body>
            <h1>
                Become a Superhero
            </h1>

            <p>
                {{ sentence }}
            </p>

            <button onclick="window.location.reload();">
                Generate Hero name
            </button>

            <button onclick="window.location.reload();">
                Generate Villain name
            </button>
        </body>
    </html>  