<!DOCTYPE html>
    <html>
        <head>
            <title>
                Superhero Generator
            </title>
        </head>
        <body>
            <h1>
                Become a Superhero
            </h1>

            <p>
                {{ sentence }}
            </p>

            <form method="POST" action="{{ url_for('home_create') }}">
                <center>
                <H1>Your Name</H1>
                <input type = "text" name= "name" />
                <input type = "submit">
                </center>
            </form>
        </body>
    </html>  