<!DOCTYPE html>
    <html>
        <head>
            <title>
                Superhero Generator
            </title>
        </head>
        <body>
            <h1>
                Become a Superhero
            </h1>

            <p>
                {{ sentence }}
            </p>


            <form method="POST" action="{{ url_for('home_create_hero') }}">
                <center>
                <H1>Generate Hero name</H1>
                <input type = "submit">
                </center>
            </form>

            <form method="POST" action="{{ url_for('home_create_villain') }}">
                <center>
                <H1>Generate Villain name</H1>
                <input type = "submit">
                </center>
            </form>
        </body>
    </html>  